{
  "ABC": {
    "sandbox": {
      "authUrl": "https://partners-sb.abc-supply.com/oauth/token",
      "apiBaseUrl": "https://partners-sb.abc-supply.com",
      "clientIdEnv": "ABCClient",
      "clientSecretEnv": "ABCClientSecret"
    },
    "prod": {
      "authUrl": "https://partners.abc-supply.com/oauth/token",
      "apiBaseUrl": "https://partners.abc-supply.com",
      "clientIdEnv": "ABCClient",
      "clientSecretEnv": "ABCClientSecret"
    }
  },
  "SRS": {
    "sandbox": {
      "authUrl": "https://sandbox-api.srsdistribution.com/oauth/token",
      "apiBaseUrl": "https://sandbox-api.srsdistribution.com",
      "clientIdEnv": "SRSIDPROD",
      "clientSecretEnv": "SRSSECRETPROD"
    },
    "prod": {
      "authUrl": "https://api.srsdistribution.com/oauth/token",
      "apiBaseUrl": "https://api.srsdistribution.com",
      "clientIdEnv": "SRSIDPROD",
      "clientSecretEnv": "SRSSECRETPROD"
    }
  },
  "BEACON": {
    "sandbox": {
      "authUrl": "https://uat-api.becn.com/v1/rest/com/becn/login",
      "apiBaseUrl": "https://uat-api.becn.com",
      "usernameEnv": "beaconUsername",
      "passwordEnv": "beaconPass",
      "apiSiteId": "UAT"
    },
    "prod": {
      "authUrl": "https://api.becn.com/v1/rest/com/becn/login",
      "apiBaseUrl": "https://api.becn.com",
      "usernameEnv": "beaconUsername",
      "passwordEnv": "beaconPass",
      "apiSiteId": "PROD"
    }
  }
}
